.home-page {
    width : 100%;
    margin : 20px auto;
    z-index : 2 ;
    border-radius: 20px;
    padding : 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.408);
    border: 1px solid #ccc;
}

.home-page-mylocation-container {
    border-bottom:  1px solid #ccc;
}

.home-page-mylocation-text {

}

.home-page-mylocation-text__heading {
    font-size: 30px;
    font-weight: lighter;
}

.home-page-mylocation-search {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin : 20px 0;
    height : 50px;
    border : 1px solid #ccc;
    width : 300px;
}

.home-page-mylocation-search__input {
    width : 90% ;
    border: unset;
    background-color: unset;
    padding: 10px;
}

.home-page-mylocation-search__btn {
    width : 10% ;
    border: unset;
    background-color: unset;
    padding: 5px;
}

.home-page-mylocation-search__btn--img {
    width : 100% ;
    height : auto
}

.home-page-nearby-taxirank {
    padding: 20px 0
}

.home-page-nearby-taxirank-text {
margin-bottom: 30PX;
}

.home-page-nearby-taxirank-text__heading {
    font-size : 20px;
    color: grey;
}

.home-page-nearby-taxirank-list-container {

}

.home-page-nearby-taxirank-list {
}

.home-page-nearby-taxirank-list-item {
    display : flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px dashed #ccc;
}

.home-page-nearby-taxirank-list-item-icon {
    
}

.home-page-nearby-taxirank-list-item-text__paragraph {
    padding: 10px 500px 10px 0;
    display: block;

}

.home-page-nearby-taxirank-list-item-icon__img {
    width : 30px;
    margin-right: 10PX;
}









.menu-btn {
    background-color: #f5cf37;
}











/*/ rank page */
.rank-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank-page {
    padding :30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.408);
}

.rank-page-heading {
}

.rank-page-list {
}

.rank-page-list-item {
padding: 10PX;
}

.rank-page-details {
    display : flex ;
    justify-content: space-between;
    align-items: center;
    padding : 20px;
    border-bottom : 1px solid #ccc ;

}

@keyframes rotateIcon {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.reloadBtn {
    border : #f5cf37 ;
    background-color: #000;
    padding : 10px;
    border-radius: 10px;
}

.reloadBtn:hover .reloadBtnImg{
    animation: rotateIcon 1s infinite linear;

}

.rank-page-details-left {
    
    display : flex ;
    justify-content: flex-start;
    align-items: center;
    width : 250px
}
.view-taxi-details {
    padding : 10px;
    background-color: #f5cf37;
    border-radius: 20px;
    margin-right : 25px;
    border : none;
}
.rank-page-details-left-icon {
    width : 50px;
    margin-right : 50px;
}

.rank-page-details-left-icon__img {
    width : 100%;
    margin-bottom : 15px;
}

.rank-page-details-left-text__heading ,
.rank-page-details-right-text__heading {
    margin-bottom : 10px;
    font-size: 20px;
}

/* driver details  */
/* driver details  */




.rank-page-driver-details {
    display : flex ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;

    padding : 20px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rank-page-driver-details-profile {
    display : flex ;
    justify-content: space-between;
    align-items: center;
}

.rank-page-driver-details img{
    
    width : 50px;
}

.rank-page-driver-profile-image {
    width : 50px;
}

.rank-page-driver-profile-image__img {
    width : 50px;
    border-radius: 100%
}

.rank-page-driver-profile-name__text {
    font-size : 20px;
}

.rank-page-driver-details-contact {
    display: flex;
    justify-content: space-between;
    width : 120px;
}

.rank-page-driver-details-contact-message ,
.rank-page-driver-details-contact-call {
    /* width : 50px; */
} 

.rank-page-driver-details-contact-message__btn ,
.rank-page-driver-details-contact-call__btn {
BORDER : NONE;
background: none;


}

.rank-page-driver-details-contact-message__btn--img ,
.rank-page-driver-details-contact-call__btn--img {
    width : 100%;
    padding :10px;
    border-radius: 50px;
}

.rank-page-driver-details-contact-message__btn--img {
    background: seagreen;
}
.rank-page-driver-details-contact-call__btn--img {
    background: dodgerblue;
}

/* driver route  */
/* driver route  */

.rank-page-route-details {
    display: block;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
}
.rank-page-route-details-nagivation {
    display: flex;
    align-items: center;
    padding : 5px 20px ;
}

#rank-page-route-details-nagivation__hr1 {
    transform: rotate(90deg) ;
    width: 20px;
    height : 2px;
    border: none;
    text-align: left;
    margin-left: 15px;
    border-radius: 10px;
}


#rank-page-route-details-nagivation__hr2 {
    width : 95%;
}


.rank-page-route-details-nagivation-from ,
.rank-page-route-details-nagivation-to {
   width: 50px; 
   display: block;
   margin-right: 20px;
}

.rank-page-route-details-nagivation-from__img ,
.rank-page-route-details-nagivation-to__img {
   width: 100%; 
}

.rank-page-route-details-location {
    display: flex;
    align-items: center;
    padding : 5px 20px ;
    
    background: rgba(0, 0, 0, 0.05);
}

.rank-page-route-details-location-from ,
.rank-page-route-details-location-to {
    font-size: 15px;
}




/* taxi details / bookings  */
/* taxi details / bookings  */

.rank-page-taxi-details {
    padding : 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;

}

.rank-page-taxi-details-container {
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.rank-page-taxi-details-image {
    width : 50px;
}

.rank-page-taxi-details-image__img {
    width : 100%;
}
.rank-page-taxi-details-distance {

}
.rank-page-taxi-details__text{
text-align: center;
font-weight : bold;
font-size : 15px;
}
.rank-page-taxi-details__text--property {
    text-transform: uppercase;
    COLOR : grey;
    display: block;
    margin-bottom: 5px;
}
.rank-page-taxi-details__text--value {
    COLOR : black;
    text-transform: uppercase;
    display: block;
}

.rank-page-taxi-request-container {
    width : 100%;
    /* background: rgba(204, 204, 204, 0.5); */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    background: rgba(29, 20, 20, 0.05);
}

.rank-page-taxi-request {
    width : 100%;
    margin : 0 auto;
    padding : 20px;
    display: flex;
    justify-content: space-between;
}
.rank-page-taxi-request__btn {
    font-size : 15px;
    padding : 15px ;
    border-radius: 20px;
    width : 40%;
    border : none;
    background-color: black;
    color : #f5cf37;
}


.rank-page-taxi-request__btn:hover {
    background-color: #f5cf37;
    color : black;

 }



























/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */




